<div class="add-link">
  <form {{action "addLink" on="submit"}}>
    <h3>Add new Link</h3>
    <input type="url" name="url" value="" placeholder="https://example.com/foo/bar.html">
    <button type="submit">submit</button>
  </form>
</div>

{{#each model as |link|}}
  <article>
    <h3>{{link.title}}</h3>
    <a href="{{link.url}}">{{link.url}}</a>
  </article>
{{/each}}
